#!/bin/bash
#ca根证书配置
ca_CN=kubernetes-ca

#etcd证书配置
etcd_CN=kube-etcd
etcd_healthcheck_client_CN=kube-etcd-healthcheck-client
etcd_peer_CN=kube-etcd-peer
etcd_ca_CN=etcd-ca


#registry 证书配置
registry_ca_CN=registry-ca

#APIServer 证书配置
apiserver_CN=kube-apiserver
apiserver_etcd_client_CN=kube-apiserver-etcd-client
apiserver_kubelet_client_CN=kube-apiserver-kubelet-client

#controller
controller_CN=system:kube-controller-manager

#scheduler
scheduler_CN=system:kube-scheduler

#kubectl
admin_CN=kubernetes-admin

#kube-proxy
kubeproxy_CN=system:kube-proxy

#front-proxy-client
front_proxy_ca_CN=front-proxy-ca
frontproxyclient_CN=front-proxy-client


#kubelet
kubelet_CN=kubelet

#boot-strap,toker
bootstrap_user=kubelet-bootstrap
bootstrap_group=system:bootstrappers

#适用1.24.x及以上：不配--token-auth-file时采用下面配置，同时放开 tls_instructs_csr.yaml；
# bootstrap_user=tls-bootstrap-token-user
# bootstrap_group=system:bootstrappers:default-node-token
