#!/bin/bash
#############################
#common
############################
#delete .cert temp dir
delete_cert_tem_dir=0
#build info:release dir
release_dir=target
build_date=
#main dir
bin_dir=/usr/bin
kubernetes_etc_dir=/etc/kubernetes
kubernetes_etc_pki_dir=${kubernetes_etc_dir}/pki
#etcd servers
etcd_dir=/etc/etcd
etcd_pki_dir=${etcd_dir}/pki
etcd_exec_start=${bin_dir}/etcd
etcd_port=2379
etcd_peer_port=2380
#ek8线程数 & cpu处理核心数
max_thread_num=10
max_cpu_core=max
#更细内核，系统重启，安装程序等待的时间：默认180秒
reboot_wait_time=90
