#!/bin/bash
ek8_version=v2.0.0.0
#-------------------------------------------------------
kube_version=v1.29.0
k8s_common_ver=${kube_version%.*}.x
sub_conf=cfg/${k8s_common_ver}
#加载子配置： sub.config (version),system.config,cert.config
source $sub_conf
source cfg/base/system.config
source cfg/base/cert.config
#目标服务器系统target_system，目前支持: target_system(centos7/rocky/alma)
#目标服务器cpu类型，target_system：arm64/amd64
target_system=centos7
target_cpu=adm64
#网卡信息
#interface=ens34
interface=ens192
#远程服务器账户、端口(先确认可以通过ssh，使用root远程登录系统)
user=root
ssh_port=22
#kube servers（集群服务器信息:etcd_servers 所有服务器列表;
#apiserver_servers 服务器列表;haproxy_servers 服务器列表;registry_* registry服务器配置信息
etcd_servers=(node1:192.168.0.131 node2:192.168.0.132)
apiserver_servers=(node1:192.168.0.131 node2:192.168.0.132)
node_servers=(node3:192.168.0.133)
haproxy_servers=(node1:192.168.0.131 node2:192.168.0.132)
registry_server_domain=reg.domain.com
registry_server_ip=192.168.0.131
registry_server_port=5000
registry_server_repo_url=/home/docker/registry
registry_username=dyj
registry_passwd=dyj
#容器运行环境 runtime: docker/containerd
#docker_data_dir：docker环境数据目录;#containerd_data_dir：containerd环境数据目录
runtime=containerd
docker_data_dir=/home/var/lib/docker
containerd_data_dir=/home/var/lib/containerd

#需要新增的node(仅在需要新增node时修改;新增后，把新增的nodes合并到¥node_servers中)
#new_node_servers=(node5:192.168.0.135)
new_node_servers=()

#需要新增的master(仅在需要新增master时修改,新增master必须配置新的haproxy；
#新增后，把新增的apiserver合并$apiserver_servers中)
#new_api_servers=(node4:192.168.0.134)
new_api_servers=()

#keepalived 信息
# vip: keepalived虚拟ip.
#如果安装环境是在阿里云、腾讯云等公有云，这个地址必须配成 slb(负载均衡) 地址，同时阿安装增加参数 --exclude=keepalived
VIP=192.168.0.10
netmask_bit=24
mcast_group=224.0.0.22
vrid=192
#haproxy 信息
VIP_PORT=6444
#kube信息
#service_cluster_ip_range and  cluster_cid
cluster_cidr=10.244.0.0/16
service_cluster_ip_range=10.245.0.0/16
#coredns 信息
coredns_cluster_ip=10.245.0.10
#加载子配置： kube.config
source cfg/base/kube.config